name: Send GET Request on Push

on:
  push:
    branches:
      - main

jobs:
  send-request:
    runs-on: ubuntu-latest

    steps:
      - name: Send GET request
        run: |
          curl -X GET "https://home.ortieez.com/api/deploy/38fcc8283d7d934c39839c826e62688c738d6140e11d97cb"